<div class="about">
    <h2>Information om appen</h2>
    <p>
        Computer vision är en applikation som hjälper dig att ladda upp att redigera dina bilder med hjälp av 4st filter: 
     </p>   
       <ul>
        <li> <strong>Edge detection</strong>: baserad på Sobel operator som används inom computer vision och därefter är denna applikation benämnt.</li>
        <li><strong>Blur</strong>: filter som får din bild att se suddigt ut </li>
        <li><strong>Reflect</strong>: Spegelvänder dina bilder.</li>
        <li><strong>Grayscale</strong>: den gör din bild svartvit</li>
       </ul>
    

    <p>
        <strong>Filtyper</strong>: de filtyperna som har stöd i denna applikation är de som har stöd i .NET paketet system.drawing.bitmap från
        Microsoft, dvs <strong>BMP, GIF, JPG, PNG, och TIFF.</strong> <br>
        <strong>
            Obs: filtren fungerar endast på statiska bilder, dvs om du laddar upp en GIF med flera frames så kommer endast den 
            första frame att behandlas.
        </strong> <br>
        I och med att appen är uppe på gratis hosting med begränsade resurser så filstorleken får inte överstiga 1mb. 
        Egentligen finns det inte tekniska hinder än att ha betydligt större filer än så. <br>
        Bildnamns redigerings funktionalitet är bara ett hjälpmedel för dig att organisera dina sparade bilder och för att 
        använda U:et i CRUD nu när PUT anrops hantering är redan uppbyggd i API:et, så när du laddar ner dina bilder kommer 
        dem att ha det automatiskt generade namnet oavsett vad du döper om dem i appen.  
    </p>
</div>